extends j_02
block title
  title 3砸金蛋结果-未中奖
block tag
  - var tag = 3;
block logotitle
  .pa.title
    img(src="../static/images/pounds_title.png")
block info
  | 奖金与你不远了，需再接再厉。
block status
  - var status = 2;
block btntx
  | 继续砸蛋