extends j_02
block title
  title 2来找茬主页
block tag
  - var tag=2;
block container
  .pa.img-bx.reference
    img(src="../static/images/reference.jpg")
  .pa.img-bx.pay
    img(src="../static/images/reference.jpg")
    .pa.row(data-max="5" data-failmax="3")
      - for(var i=0;i<12;i++){
        - if(i==0)
          a.grid.J_focus(href="javascript:;" data-tag="0")
            img(src="../static/images/dot.gif")
        - else if((i==3)||(i==6)||(i==7))
          a.grid(href="javascript:;" data-tag="1")
            img(src="../static/images/dot.gif")
        - else
          a.grid(href="javascript:;" data-tag="0")
            img(src="../static/images/dot.gif")
      -}
  .pa.icon-horn
  .pa.rule.difference
    |游戏规则：对比左图，在右图找出
    em.text-red &nbsp;3&nbsp;
    | 处不同点。
    em.text-red 珀莱雅
    |将为您提供
    em.text-red 5.00
    | 元奖金。
  .pa.progress.text-white
    .shaft
      img#bar.pa.lt(src="../static/images/progress_bar.png")
    //marquee(direction="down" loop="100" behaviour="slide" width="16" height="355"  scrollamount="2" align="texttop")
      img(src="../static/images/progress_bar.png")
  .pa.countdown.J_countdown.tr 120s