extends j_04
block title
  title 3砸金蛋主页
block tag
  - var tag = 4;
block container
  a.pa.egg.egg-yellow(href="#" data-tag='0')
    img(src="../static/images/1111.jpg")
    .pa.after
  a.pa.egg.egg-green(href="#" data-tag='1')
    img(src="../static/images/1111.jpg")
    .pa.after
  a.pa.egg.egg-red(href="#" data-tag='0')
    img(src="../static/images/1111.jpg")
    .pa.after
  .pa.pounds-game-info 
    | 洁柔纸洁
    em.text-red 这里放红色的字
    | 提供奖金洁
    em.text-red 这里放红色


  .pa.win-pic
    img(src="../static/images/22222.jpg")
block script
  script.
    (function(window,undefined){
      $(document).on('click', '.egg', function(){
        var $this = $(this),
            $after = $this.find('.after'),
            $img = $this.find('img'),
            time = null,
            d = 0,
            tag = $this.attr('data-tag');
        //$this.addClass('smash');
        time = setInterval(function(){
          d+=10;
          $after.css('transform','rotate(' + (-d) +'deg)');
          if(d>=40){
            d = 0;
            clearInterval(time);
          }
        },100);
        setTimeout(function(){
          $this.addClass('active');
          $this.css('z-index','13');
          time = setInterval(function(){
            d = 1;
            d += 2.3;
            $img.css('transform',' scale('+ d +')');
            if(d>=2.3){
              d = 0;
              clearInterval(time);
            }
          },100);
          //$img.css('transform',' scale(2)');
            setTimeout(function(){
              location.href = tag==1 ? 'j_05.html' : 'j_04.html';//成功URL ，失败URL
            },3500);
        },500);
      });
    })(window)
    //- var a = $('.egg');
    
    //- a.on("keydown", function(e){
    //-   e = e || window;
    //-   console.log(e.keyCode);
    //-   if(e.keyCode === 13){
    
    //-   }
    //- });

    //- function tranform(a1, a2){
    //-   var i = 10;
    //-   setInterval(function(){
    //-     transform:rotate((-30 * i)deg);
    //-   }, a2)
    //- }
