extends ../public/_layout
block title
  title 404
block tag
  - var tag=10;
block logotitle
block container
  .pa.error.text-white
    p 哎，来晚了，本次游戏下线了！
    p 哼，我玩其他的！
  a.pa.btn.depositbtn.J_focus(href="#") 选择游戏
block script
