extends ../public/_layout
block title
  title 500
block tag
  - var tag=11;
block logotitle
block container
  .pa.error1.text-white 程序猿被本次游戏玩晕了。
  a.pa.btn.depositbtn.J_focus(href="#") 选择其他游戏
block script
