extends ../public/_layout
block title
  title 微信群二维码
block logotitle
block container
  .pa.qr-code.only
    img(src="../static/images/qr.jpg" width="352" height="352")
  .pa.qr-code-info
block script
